
<div class="container my-4">
  <h4 class="mb-4">Lista de Actividades</h4>
<table class="table table-bordered table-hover text-center" id="tablaActividades">
 <thead>
  <tr class="table-light">
    <th>Actividad</th>
    <th>Valor</th>
    <th>Gasto</th>
    <th>Ganancia</th>
  </tr>
</thead>
<tbody></tbody>
<tfoot>
  <tr class="table-light">
    <td colspan="3" class="text-end fw-bold">Total Ganancias:</td>
    <td id="totalGanancias" class="fw-bold text-success">$0.00</td>
  </tr>
</tfoot>
</table>
<div class="col-12 text-end">
   <button id ="atrasLista" class="btn btn-info">Atras</button>
</div>
</div>


<!-- Modal para Editar Actividad -->



<script src="/assets/js/usuario/listaActividadesU.js"></script>
