<div>
<body class="bg-light">
    

  <div class="container py-5">
    <h2 class="text-center mb-4">Panel de Gestion Principal</h2>
    <div class="row g-4">

        <div class="col-md-6 col-lg-3" id="divActividades">
        <div class="modulo text-dark text-decoration-none" id="moduloMiembros">
        <i class="bi bi-people-fill"></i>
        <h3>Actividades</h3>
        </div>
        </div>
        <div class="col-md-6 col-lg-3" id="divPagos">
        <div class="modulo text-dark text-decoration-none" id="moduloMiembros">
        <i class="bi bi-people-fill"></i>
        <h3>Pagos</h3>
        </div>
        </div>
        <div class="col-md-6 col-lg-3" id="divFondos">
        <div class="modulo text-dark text-decoration-none" id="moduloMiembros">
        <i class="bi bi-people-fill"></i>
        <h3>Fondo</h3>
        </div>
        </div>
        <div class="col-md-6 col-lg-3" id="divMiembros">
        <div class="modulo text-dark text-decoration-none" id="moduloMiembros">
        <i class="bi bi-people-fill"></i>
        <h3>Miembros</h3>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/js/admin/homeAdmin.js"></script>
   
</div>