 <nav class="navbar navbar-light bg-light px-3 d-flex justify-content-between align-items-center rounded-2" id="navheader">
  <!-- ICONO Y NOMBRE -->
  <a class="navbar-brand d-flex align-items-center p-1 m-1 bg-primary rounded-2" href="#">
    <img src="/assets/recursos/iconoapp.png" alt="Logo" width="60" height="60" class="me-2">
    <span class="fw-bold fs-5">Contabilidad-Iglesia 2026</span>
  </a>

  <div class="d-flex align-items-center bg-light rounded p-2 shadow-sm" style="min-width: 250px;">
    <div class="me-3 text-end">
      <div id="user-name" class="fw-bold">Usuario</div>
      <div id="user-role" class="text-muted small">Rol</div>
    </div>
    <button id="btnCerrarSesion" class="btn btn-sm btn-outline-danger">Salir</button>
  </div>
</nav>


<script src="/assets/js/admin/headerAdmin.js"></script>
<!-- Asegúrate de incluir Bootstrap en tu HTML -->