<div class="container my-5">
  <div class="text-center">
    <h2 class="mb-4">Gestión de Miembros</h2>

    <div class="d-grid gap-3 col-6 mx-auto">
      <button id="btnNuevoMiembro" class="btn btn-primary btn-lg">
        Ingresar Nuevo Miembro
      </button>

      <button id="btnVerLista" class="btn btn-secondary btn-lg">
        Ver Lista de Miembros
      </button>

      <button id="btnAsigUsuarios" class="btn btn-info btn-lg">
        Asignar usuarios
      </button>

      <button id="btnAtras" class="btn btn-outline-dark btn-lg">
        Atrás
      </button>
    </div>
  </div>
  <script src="/assets/js/admin/frontMiembros.js"></script>
</div>
