 .modulo {
      border-radius: 1rem;
      transition: transform 0.3s, box-shadow 0.3s;
      padding: 2rem;
      text-align: center;
      background-color: #f8f9fa;
      box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }

    .modulo:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 20px rgba(0,0,0,0.2);
      background-color: #a5a8ac;
    }

    .modulo i {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #0d6efd;
    }

    .modulo h5 {
      font-weight: 600;
    }

    body {
      background-color: #d1deeb;
    }
    .botones-container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .botones {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 300px;
    }   
    button.active {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      transform: scale(1.03);
      transition: 0.2s ease;
     } 
     #moduloPagos{
      background-color: #387feb83;
     }
     #moduloFondo{
      background-color: rgba(107, 219, 103, 0.514);
     }
     #moduloActividades{
      background-color: rgba(233, 204, 43, 0.548);
     }
     #moduloMiembros{
      background-color: rgba(220, 20, 60, 0.479);
     }
