 .modulo {
      border-radius: 1rem;
      transition: transform 0.3s, box-shadow 0.3s;
      padding: 2rem;
      text-align: center;
      background-color: #f8f9fa;
      box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }

    .modulo:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 20px rgba(0,0,0,0.2);
      background-color: #a5a8ac;
    }

    .modulo i {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #0d6efd;
    }

    .modulo h5 {
      font-weight: 600;
    }

    body {
      background-color: #d1deeb;
    }
    .botones-container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .botones {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 300px;
    }    